:root {
    --primary-color: #FBC;
    --star-color: #FBC;
    --background-color: #152F1F;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1072px;
    padding: 0 48px;
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1700ms;
    gap: 40px;
}

.content-group1 {
    display: flex;
    gap:8px;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 72px;
    font-family: 'Abril Fatface', sans-serif;
    margin: 0;
}

p.countdown {
    color: var(--primary-color);
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    line-height: 110%;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info-text {
    color: var(--primary-color);
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    line-height: 130%;
    margin-right: 16px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-icon {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.attribution {
    color: var(--primary-color);
    font-size: 10px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    line-height: 130%;
}

.star {
    position: absolute;
    width: 40px;
    height: 40px;
    color: var(--star-color);
    transition: transform 1s ease;
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1700ms;
}

.star:hover {
    transform: rotate(360deg);
}

.star.top-left {
    top: 48px;
    left: 48px;
}

.star.top-right {
    top: 48px;
    right: 48px;
}

.star.bottom-left {
    bottom: 48px;
    left: 48px;
}

.star.bottom-right {
    bottom: 48px;
    right: 48px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    p.countdown {
        font-size: 16px;
    }
}