:root {
    --primary-color: #FFBBCC;
    --bg-color: #152F1F;

    --load-animation: 0;
    --animation-delay: 1000ms;
}

/* General styles */
body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 280px;
    min-width: 570px;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    position: relative;
    opacity: var(--load-animation);
    animation: fade-in 2s forwards var(--animation-delay);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 184px;
    max-width: 100vw;
}

/* Typography */
h1,
h2,
p {
    margin: 0;
    color: var(--primary-color);
}

h1 {
    font-size: 104px;
    font-family: 'Abril Fatface', sans-serif;
    line-height: 90%;
}

h2 {
    font-size: 72px;
    font-family: 'Abril Fatface', cursive;
    line-height: 90%;
}

p {
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    line-height: 112%;
}

/* Countdown styles */
.countdown-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    line-height: 110%;
    color: var(--primary-color);
}

.countdown-text {
    font-style: normal;
}

.countdown-count {
    font-weight: bold;
}

/* Social icons */
.socials-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-icons-container {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.socials-text {
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-color);
    margin: 0;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Background and stars */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.star {
    position: absolute;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    transition: transform 1s ease;
}

.star:hover {
    transform: rotate(360deg) scale(1.2);
}

.star.top-left {
    top: 80px;
    left: 80px;
}

.star.top-right {
    top: 80px;
    right: 80px;
}

.star.bottom-left {
    bottom: 80px;
    left: 80px;
}

.star.bottom-right {
    bottom: 80px;
    right: 80px;
}

/* Control icons */
.control-icons-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 80px;
    right: 144px;
    padding: 8px;
}

.control-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
    transition: transform 0.3s ease;
}

.control-icon:hover {
    transform: scale(1.2);
}

/* Responsive styles */
@media (max-width: 1430px) {
    .countdown-text {
        display: none;
    }

    h1 {
        font-size: 88px;
    }

    .container {
        padding: 136px;
    }
}

@media (max-width: 768px) {
    body {
        justify-content: center;
    }

    .container {
        gap: 16px;
        padding: 32px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
        text-align: center;
    }

    p {
        font-size: 24px;
        text-align: center;
    }

    .star.top-left,
    .star.bottom-left {
        left: 32px;
    }

    .star.top-right,
    .star.bottom-right {
        right: 32px;
    }

    .star.top-left,
    .star.top-right {
        top: 72px;
    }

    .star.bottom-left,
    .star.bottom-right {
        bottom: 72px;
    }

    .social-icons-container {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .socials-text {
        display: none;
    }

    .control-icons-container {
        right: 96px;
        top: 72px;
    }

    .adaptive-br {
        display: block;
    }
}

@media (max-height: 480px) {
    body {
        justify-content: center;
    }

    .container {
        align-items: center;
        gap: 16px;
        padding: 32px;
    }

    .countdown-container {
        align-items: center;
        justify-content: center;
    }

    .countdown-count {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 64px;
        text-align: center;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }

    .star.top-left,
    .star.bottom-left {
        left: 32px;
    }

    .star.top-right,
    .star.bottom-right {
        right: 32px;
    }

    .star.top-left,
    .star.top-right {
        top: 72px;
    }

    .star.bottom-left,
    .star.bottom-right {
        bottom: 72px;
    }

    .social-icons-container {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .countdown-text,
    .socials-text {
        display: none;
    }

    .control-icons-container {
        right: 96px;
        top: 72px;
    }

    .adaptive-br {
        display: block;
    }
}

@media (max-height: 380px) {
    .social-icons-container {
        display: none;
    }
}